<mat-card style="margin-top: 20px;">
  <mat-action-list>
    <div mat-subheader>
      <mat-icon>menu</mat-icon>&nbsp;Menu
    </div>
    <button routerLink="/customer-dashboard" mat-list-item>
      <mat-icon mat-list-icon color="primary">home</mat-icon> Home
    </button>
    <button mat-list-item routerLink="/customer-dashboard">
      <mat-icon mat-list-icon color="primary">account_circle</mat-icon> Profile
    </button>
    <!-- <button mat-list-item routerLink="/login">
        <mat-icon mat-list-icon>logout</mat-icon> Logout
      </button> -->
    <button mat-list-item routerLink="/customer-dashboard/cancellation">
      <mat-icon at-list-icon color="accent">cancel</mat-icon>Cancel Ticket
      <!-- <mat-icon mat-list-icon color="accent">train</mat-icon> Train Cancellation -->
    </button>
  </mat-action-list>
</mat-card>
