<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h1>Welcome to <span>Revature Railways</span></h1>
    <h2>Making trip Easier</h2>
    <div class="d-flex">
      <a routerLink="/register" class="btn-get-started scrollto">Get Started</a>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>About</h2>
      <h3>Find Out More <span>About Us</span></h3>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <img src="assets/Train8.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
        data-aos-delay="100">
        <h3>We will help you clear all your doubts and issues regarding Railways because <br>"We are Here for You."</h3>
        <p class="fst-italic">
          Indian Railways is the world’s 8th largest employer. And we as a combined Group have held hands together and
          have put are best efforts to help make your Incredible.
        </p>
        <ul>
          <li>
            <i class="far fa-hand-point-right"></i>
            <div>
              <h5>View Train Schedule to know more!</h5>
              <p>See the Schedule of every train and Figure the way to make it the best way.</p>
            </div>
          </li>
          <li>
            <i class="far fa-hand-point-right"></i>
            <div>
              <h5>See Different Routes that the Train Take</h5>
              <p>See all the Routes and Stations Trains is going to Cross Before hand.</p>
            </div>
          </li>
        </ul>
        <p>
          That is just a Needle in a Haystack of the amount of Information that this platform can give you about
          different details. For more such informations
          create an account or login to your existing account to explore.
          And if you have any feedback feel free to mention it down below.
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->


<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Services</h2>
      <h3>Check out our <span>Services</span></h3>
    </div>

    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-ticket-alt"></i></div>
              <h4 class="title"><a routerLink="/login">Book Tickets</a></h4>
              <p class="description">Allows you to Book Train Tickets as per your Convience at home with Ease. </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="far fa-times-circle"></i></div>
              <h4 class="title"><a routerLink="/login">Cancel Tickets</a></h4>
              <p class="description">Not Going on the Trip anymore don't worry get 100% cashback on Ticket Cancellation.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fas fa-route"></i></div>
              <h4 class="title"><a routerLink="/login">Check out Routes </a></h4>
              <p class="description">Check out the Routes and Figure out the way to Travel and get the Best out of your
                Trip.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="fas fa-table"></i></div>
              <h4 class="title"><a routerLink="/login">See the Schedule of Trains</a></h4>
              <p class="description">See the Schedule of Different Trains and figure out which Train you want to start
                your Journey.</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Featured Services Section -->
  </div>
</section>
<!-- End Services Section -->

<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Pricing</h2>
      <h3>Check out our <span>Prices</span></h3>
      <p></p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="box featured">
          <h3>Base Price</h3>
          <h4><sup>&#x20B9;</sup>2<span> / KM</span></h4>
          <ul>
            <li>The base price</li>
            <li>that will be calculated</li>
            <li>as per Journey</li>
          </ul>
          <div class="btn-wrap">
            <a routerLink="/login" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="box featured">
          <h3>Sleeper charge</h3>
          <h4>15%<span>+ Base Charges</span></h4>
          <ul>
            <li>Sleep like you</li>
            <li>have never before</li>
            <li>Slept and Relax.</li>
          </ul>
          <div class="btn-wrap">
            <a routerLink="/login" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="300">
        <div class="box featured">
          <h3>AC charge</h3>
          <h4>30%<span>+ Base Charges</span></h4>
          <ul>
            <li>Air Conditioning</li>
            <li>will help you</li>
            <li>Relax and Feel at Home.</li>
          </ul>
          <div class="btn-wrap">
            <a routerLink="/login" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
        <div class="box featured">
          <h3>AC Sleeper charge</h3>
          <h4>40%<span>+ Base Charges</span></h4>
          <ul>
            <li>Sleep in AC</li>
            <li>and feel like mountain</li>
            <li>breeze touching your hairs.</li>
          </ul>
          <div class="btn-wrap">
            <a routerLink="/login" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Pricing Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Team</h2>
      <h3>Our Hardworking <span>Team</span></h3>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team/Rajesh.png" class="img-fluid" alt="">
            <div class="social">
              <a href="" target="_blank"><i class="fab fa-github"></i></a>
              <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Rajesh Nallusamy</h4>
            <span style="color:#106eea;"><strong>Team Lead</strong></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team/Suleman.png" class="img-fluid" alt="">
            <div class="social">
              <a href="https://github.com/fsuleman2/" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/in/fsuleman2/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://facebook.com/fsuleman2/" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="https://instagram.com/fsuleman2/" target="_blank"><i class="fab fa-instagram"></i></a>

            </div>
          </div>
          <div class="member-info">
            <h4>Syed Suleman</h4>
            <span style="color:#106eea;"><strong>Managing Head</strong></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team/Arjun.png" class="img-fluid" alt="">
            <div class="social">
              <a href="" target="_blank"><i class="fab fa-github"></i></a>
              <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Arjun</h4>
            <span style="color:#106eea;"><strong>Tech Expert</strong></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team/Rahul.png" class="img-fluid" alt="">
            <div class="social">
              <a href="" target="_blank"><i class="fab fa-github"></i></a>
              <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Rahul Ranjan</h4>
            <span style="color:#106eea;"><strong>Project Brian</strong></span>
          </div>
        </div>
      </div>



    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team/Anmol.png" class="img-fluid" alt="">
            <div class="social">
              <a href="" target="_blank"><i class="fab fa-github"></i></a>
              <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Anmol Gehlot</h4>
            <span style="color:#106eea;"><strong>Design Specialist</strong></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team/Mohan.png" class="img-fluid" alt="">
            <div class="social">
              <a href="" target="_blank"><i class="fab fa-github"></i></a>
              <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Mohan</h4>
            <span style="color:#106eea;"><strong>Connecting Dots</strong></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team/Shivam.png" class="img-fluid" alt="">
            <div class="social">
              <a href="" target="_blank"><i class="fab fa-github"></i></a>
              <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Shivam Goel</h4>
            <span style="color:#106eea;"><strong>Responsive Thinker</strong></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team/Kavana.png" class="img-fluid" alt="">
            <div class="social">
              <a href="" target="_blank"><i class="fab fa-github"></i></a>
              <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Kavana KP</h4>
            <span style="color:#106eea;"><strong>UI Designe</strong>r</span>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team/Amit.png" class="img-fluid" alt="">
            <div class="social">
              <a href="" target="_blank"><i class="fab fa-github"></i></a>
              <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Amit Bhagat</h4>
            <span style="color:#106eea;"><strong>Teacher Cool</strong></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team/Susmitha.jpeg" class="img-fluid" alt="">
            <div class="social">
              <a href="" target="_blank"><i class="fab fa-github"></i></a>
              <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Sushmita Vempati</h4>
            <span style="color:#106eea;"><strong>Silent Killer</strong></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team/Vinay.png" class="img-fluid" alt="">
            <div class="social">
              <a href="" target="_blank"><i class="fab fa-github"></i></a>
              <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Vinay Varishth</h4>
            <span style="color:#106eea;"><strong>South King</strong></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="../../assets/img/team/Afzaal.png" class="img-fluid" alt="">
            <div class="social">
              <a href="" target="_blank"><i class="fab fa-github"></i></a>
              <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Afzaal Khan</h4>
            <span style="color:#106eea;"><strong>Biryani Lover</strong></span>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- End Team Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact</h2>
      <h3><span>Contact Us</span></h3>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-3 col-md-6">
        <div class="info-box mb-4">
          <i class="bx bx-map"></i>
          <h3>Our Address</h3>
          <p>Workafella High Street, Teynampet 12th floor, No. 431, Anna Salai, Chennai, Tamil Nadu 600018</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <i class="bx bx-envelope"></i>
          <h3>Email Us</h3>
          <p>Universities@revature.com</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <i class="bx bx-phone-call"></i>
          <h3>Call Us</h3>
          <p>(703)570-8181</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <i class="fas fa-hashtag"></i>
          <h3>Social Handles</h3>
          <p><i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Contact Section -->

<!-- ======= Location Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">


    <div class="row" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-6 ">
        <iframe class="mb-4 mb-lg-0"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1943.4740310682269!2d80.24607253558786!3d13.03897799570454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5267b55865f117%3A0xedb11f5553e1c048!2sRevature!5e0!3m2!1sen!2sin!4v1631351771344!5m2!1sen!2sin"
          frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
      </div>

      <div class="col-lg-6">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit" routerLink="/login">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Location Section -->

<app-footer></app-footer>
